<html>

<head>
<title><?php include("$Home_Path/$Inc_Dir/metatitle.php"); ?></title>
<?php include("$Home_Path/$Inc_Dir/meta.php"); ?>
<?php include("$Home_Path/$Inc_Dir/style.php"); ?>
</head>

<body>
<table cellSpacing="0" cellPadding="0" width="100%" border="0">
<tr>
<td vAlign="middle" align="center" bgcolor="#5E77B9">
<?php include("$Home_Path/$Inc_Dir/sitelogo.php"); ?>
</td>
</tr>
</table>
<table cellSpacing="0" cellPadding="0" width="100%" border="0">
<tr>
<td vAlign="middle" colspan="3" align="center">
<?php include("$Home_Path/$Inc_Dir/pagelist_bar.php"); ?>
</td>
</tr>
<tr>
<td vAlign="top" width="150" style="padding: 10">
<table cellSpacing="0" cellPadding="5" width="100%" bgColor="#BCC7E2" border="0" style="border: 1 solid #3D538D">
<tr>
<td align="left" valign="top">
<span class="highlighttext">Catalog</span>
<br><?php include("$Home_Path/$Inc_Dir/navbar_vertical.php"); ?>
<br><?php include("$Home_Path/$Inc_Dir/viewcontents.php"); ?>
</td>
</tr>
</table>
&nbsp;
<table cellSpacing="0" cellPadding="5" width="100%" bgColor="#BCC7E2" border="0" style="border: 1 solid #3D538D">
<tr>
<td align="left" valign="top">
<span class="highlighttext">Search</span>
<?php include("$Home_Path/$Inc_Dir/search_site.php"); ?>
</td>
</tr>
</table>
<img src="<?php echo "$urldir/imgs/spacer.gif"; ?>" alt="-" border="0" width="150" height="1">
</td>
<td vAlign="top" style="padding: 10" width="100%">
<?php include("$Home_Path/$Inc_Dir/sitemessage.php"); ?>
<?php include("$Home_Path/$Inc_Dir/title.php"); ?>
<p><?php include("$Home_Path/$Inc_Dir/navbar_list.php"); ?></p>
<?php include("$Home_Path/$Inc_Dir/description.php"); ?>
<?php include("$Home_Path/$Inc_Dir/content.php"); ?>
</td>
<td vAlign="top" align="middle" width="150" style="padding: 10">
<table cellSpacing="0" cellPadding="5" width="100%" bgColor="#BCC7E2" border="0" style="border: 1 solid #3D538D">
<tr>
<td align="center" valign="top">
<?php include("$Home_Path/$Inc_Dir/featured.php"); ?>
</td>
</tr>
</table>
<img src="<?php echo "$urldir/imgs/spacer.gif"; ?>" alt="-" border="0" width="150" height="1">
</td>
</tr>
<tr>
<td vAlign="middle" height="25" colspan="3" align="center">
<?php include("$Home_Path/$Inc_Dir/email.php"); ?>
</td>
</tr>
<tr>
<td vAlign="middle" height="10" colspan="3" align="center" bgcolor="#5E77B9">
<?php include("$Home_Path/$Inc_Dir/copyright.php"); ?>
</td>
</tr>
</table>

</body>

</html>