<html>

<head>
<title><script language="php">include("$Home_Path/$Inc_Dir/metatitle.php");</script></title>
<script language="php">include("$Home_Path/$Inc_Dir/meta.php");</script>
<script language="php">include("$Home_Path/$Inc_Dir/style.php");</script>
</head>

<body>
<table cellSpacing="0" cellPadding="0" width="100%" border="0">
<tr>
<td vAlign="top" align="left" width="150" bgColor="#DD9322">
<br><script language="php">include("$Home_Path/$Inc_Dir/logo.php");</script><br>
<table cellSpacing="0" cellPadding="5" width="100%" border="0">
<tr>
<td vAlign="top" bgColor="#F3D9B1" class="accenttext">Shop Online</td>
</tr>
<tr>
<td vAlign="top">
<script language="php">include("$Home_Path/$Inc_Dir/navbar_vertical.php");</script><br>
<script language="php">include("$Home_Path/$Inc_Dir/viewcontents.php");</script>
</td>
</tr>
</table>
&nbsp;
<table cellSpacing="0" cellPadding="5" width="100%" border="0">
<tr>
<td vAlign="top" bgColor="#F3D9B1" class="accenttext">Our Site</td>
</tr>
<tr>
<td vAlign="top">
<script language="php">include("$Home_Path/$Inc_Dir/pagelist_vertical.php");</script>
</td>
</tr>
</table>
</td>
<td vAlign="top" width="1" bgColor="#F3D9B1"><img src="<?php echo "$urldir/imgs/spacer.gif"; ?>" alt="-" border="0" width="1" height="1"></td>
<td vAlign="top" width="3" bgColor="#DD9322"><img src="<?php echo "$urldir/imgs/spacer.gif"; ?>" alt="-" width="3" height="1" border="0"></td>
<td vAlign="top">
<table border="0" cellpadding="15" cellspacing="0" width="100%">
<tr>
<td>
<script language="php">include("$Home_Path/$Inc_Dir/sitename.php");</script>
<script language="php">include("$Home_Path/$Inc_Dir/sitemessage.php");</script>
<script language="php">include("$Home_Path/$Inc_Dir/title.php");</script>
<p><script language="php">include("$Home_Path/$Inc_Dir/navbar_list.php");</script></p>
<script language="php">include("$Home_Path/$Inc_Dir/description.php");</script>
<script language="php">include("$Home_Path/$Inc_Dir/content.php");</script>
</td>
</tr>
</table>
</td>
<td vAlign="top" width="150" align="center">
<img src="<?php echo "$urldir/imgs/spacer.gif"; ?>" alt="-" height="1" width="150" border="0">
<table cellSpacing="0" cellPadding="1" width="100%" bgColor="#EBEAE7" border="0" style="border: 1 solid #201500">
<tr>
<td align="center" class="highlighttext" bgcolor="#DD9322">Features</td>
</tr>
<tr>
<td align="center">
<script language="php">include("$Home_Path/$Inc_Dir/featured.php");</script>
</td>
</tr>
</table>
&nbsp;
<table cellSpacing="0" cellPadding="1" width="100%" bgColor="#EBEAE7" border="0" style="border: 1 solid #201500">
<tr>
<td align="center" class="highlighttext" bgcolor="#DD9322">Search</td>
</tr>
<tr>
<td align="center">
<script language="php">include("$Home_Path/$Inc_Dir/search_catalog.php");</script>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td vAlign="top" align="left" width="150" bgColor="#DD9322" height="30">
&nbsp;
</td>
<td vAlign="top" width="1" bgColor="#F3D9B1"><img src="<?php echo "$urldir/imgs/spacer.gif"; ?>" alt="-" border="0" width="1" height="1"></td>
<td vAlign="top" width="3" bgColor="#DD9322"><img src="<?php echo "$urldir/imgs/spacer.gif"; ?>" alt="-" width="3" height="1" border="0"></td>
<td vAlign="middle" height="30" align="center">
<script language="php">include("$Home_Path/$Inc_Dir/email.php");</script><br>
<script language="php">include("$Home_Path/$Inc_Dir/copyright.php");</script>
</td>
<td vAlign="top" width="150" align="center" height="30">&nbsp;</td>
</tr>
</table>

</body>

</html>
