<html>

<head>
<title><script language="php">include("$Home_Path/$Inc_Dir/metatitle.php");</script></title>
<script language="php">include("$Home_Path/$Inc_Dir/meta.php");</script>
<script language="php">include("$Home_Path/$Inc_Dir/style.php");</script>
</head>

<body>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td width="150" bgcolor="#D6D9C7">
<script language="php">include("$Home_Path/$Inc_Dir/logo.php");</script>
</td>
<td width="100%" valign="bottom" align="center" colspan="4" bgcolor="#D6D9C7">&nbsp;<br>
<script language="php">include("$Home_Path/$Inc_Dir/sitename.php");</script>
<script language="php">include("$Home_Path/$Inc_Dir/navbar_tabs.php");</script>
</td>
</tr>
<tr>
<td width="150" bgcolor="#D6D9C7"><img src="<?php echo "$urldir/imgs/spacer.gif"; ?>" alt="-" border="0" width="1" height="1"></td>
<td width="100%" height="1" colspan="4" bgcolor="#838C81"><img src="<?php echo "$urldir/imgs/spacer.gif"; ?>" alt="-" border="0" width="1" height="1"></td>
</tr>
<tr>
<td width="150" valign="top" align="left" bgcolor="#D6D9C7">
<table border="0" cellpadding="5" cellspacing="0" width="100%">
<tr>
<td bgcolor="#838C81" class="highlighttext">Our Site</td>
</tr>
<tr>
<td>
<script language="php">include("$Home_Path/$Inc_Dir/pagelist_vertical.php");</script><br>
<script language="php">include("$Home_Path/$Inc_Dir/viewcontents.php");</script>
</td>
</tr>
<tr>
<td bgcolor="#838C81" class="highlighttext">Search</td>
</tr>
<tr>
<td>
<script language="php">include("$Home_Path/$Inc_Dir/search_site.php");</script>
</td>
</tr>
</table>
<br>&nbsp;
</td>
<td width="1" valign="top" align="left" bgcolor="#838C81"><img src="<?php echo "$urldir/imgs/spacer.gif"; ?>" alt="-" border="0" width="1" height="1"></td>
<td width="100%" valign="top" align="left" style="padding: 10">
<script language="php">include("$Home_Path/$Inc_Dir/sitemessage.php");</script>
<script language="php">include("$Home_Path/$Inc_Dir/navbar_list.php");</script>
<script language="php">include("$Home_Path/$Inc_Dir/title.php");</script>
<script language="php">include("$Home_Path/$Inc_Dir/description.php");</script>
<script language="php">include("$Home_Path/$Inc_Dir/content.php");</script>
</td>
<td width="150" valign="top" align="left">
&nbsp;<br>
<script language="php">include("$Home_Path/$Inc_Dir/featured.php");</script>
</td>
<td width="10"></td>
</tr>
<tr>
<td width="150" height="10" valign="top" align="left" bgcolor="#D6D9C7"><img src="<?php echo "$urldir/imgs/spacer.gif"; ?>" alt="-" border="0" width="150" height="1"></td>
<td width="1" height="10" valign="top" align="left" bgcolor="#838C81"><img src="<?php echo "$urldir/imgs/spacer.gif"; ?>" alt="-" border="0" width="1" height="1"></td>
<td width="100%" height="10" valign="bottom" align="center">
<script language="php">include("$Home_Path/$Inc_Dir/email.php");</script>
<br><script language="php">include("$Home_Path/$Inc_Dir/copyright.php");</script>
</td>
<td width="150" height="10" valign="top" align="left"><img src="<?php echo "$urldir/imgs/spacer.gif"; ?>" alt="-" border="0" width="150" height="1"></td>
<td width="10" height="10"><img src="<?php echo "$urldir/imgs/spacer.gif"; ?>" alt="-" border="0" width="10" height="1"></td>
</tr>
</table>

</body>

</html>
