<html>

<head>
<title><?php include("$Home_Path/$Inc_Dir/metatitle.php"); ?></title>
<?php include("$Home_Path/$Inc_Dir/meta.php"); ?>
<?php include("$Home_Path/$Inc_Dir/style.php"); ?>
</head>

<body>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td width="150" bgcolor="#D2A6C1">
<?php include("$Home_Path/$Inc_Dir/logo.php"); ?>
</td>
<td width="100%" valign="bottom" align="center" colspan="4" bgcolor="#D2A6C1">&nbsp;<br>
<?php include("$Home_Path/$Inc_Dir/sitename.php"); ?>
<?php include("$Home_Path/$Inc_Dir/navbar_tabs.php"); ?>
</td>
</tr>
<tr>
<td width="150" bgcolor="#D2A6C1"><img src="<?php echo "$urldir/imgs/spacer.gif"; ?>" alt="-" border="0" width="1" height="1"></td>
<td width="100%" height="1" colspan="4" bgcolor="#A35285"><img src="<?php echo "$urldir/imgs/spacer.gif"; ?>" alt="-" border="0" width="1" height="1"></td>
</tr>
<tr>
<td width="150" valign="top" align="left" bgcolor="#D2A6C1">
<table border="0" cellpadding="5" cellspacing="0" width="100%">
<tr>
<td bgcolor="#A35285" class="highlighttext">Our Site</td>
</tr>
<tr>
<td>
<?php include("$Home_Path/$Inc_Dir/pagelist_vertical.php"); ?><br>
<?php include("$Home_Path/$Inc_Dir/viewcontents.php"); ?>
</td>
</tr>
<tr>
<td bgcolor="#A35285" class="highlighttext">Search</td>
</tr>
<tr>
<td>
<?php include("$Home_Path/$Inc_Dir/search_site.php"); ?>
</td>
</tr>
</table>
<br>&nbsp;
</td>
<td width="1" valign="top" align="left" bgcolor="#A35285"><img src="<?php echo "$urldir/imgs/spacer.gif"; ?>" alt="-" border="0" width="1" height="1"></td>
<td width="100%" valign="top" align="left" style="padding: 10">
<?php include("$Home_Path/$Inc_Dir/sitemessage.php"); ?>
<?php include("$Home_Path/$Inc_Dir/navbar_list.php"); ?>
<?php include("$Home_Path/$Inc_Dir/title.php"); ?>
<?php include("$Home_Path/$Inc_Dir/description.php"); ?>
<?php include("$Home_Path/$Inc_Dir/content.php"); ?>
</td>
<td width="150" valign="top" align="left">
&nbsp;<br>
<?php include("$Home_Path/$Inc_Dir/featured.php"); ?>
</td>
<td width="10"></td>
</tr>
<tr>
<td width="150" height="10" valign="top" align="left" bgcolor="#D2A6C1"><img src="<?php echo "$urldir/imgs/spacer.gif"; ?>" alt="-" border="0" width="150" height="1"></td>
<td width="1" height="10" valign="top" align="left" bgcolor="#A35285"><img src="<?php echo "$urldir/imgs/spacer.gif"; ?>" alt="-" border="0" width="1" height="1"></td>
<td width="100%" height="10" valign="bottom" align="center">
<?php include("$Home_Path/$Inc_Dir/email.php"); ?>
<br><?php include("$Home_Path/$Inc_Dir/copyright.php"); ?>
</td>
<td width="150" height="10" valign="top" align="left"><img src="<?php echo "$urldir/imgs/spacer.gif"; ?>" alt="-" border="0" width="150" height="1"></td>
<td width="10" height="10"><img src="<?php echo "$urldir/imgs/spacer.gif"; ?>" alt="-" border="0" width="10" height="1"></td>
</tr>
</table>

</body>

</html>
