<html>

<head>
<title><script language="php">include("$Home_Path/$Inc_Dir/metatitle.php");</script></title>
<script language="php">include("$Home_Path/$Inc_Dir/meta.php");</script>
<script language="php">include("$Home_Path/$Inc_Dir/style.php");</script>
</head>

<body>

<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100">
<tr>
<td width="100%" height="100" valign="middle" align="center" bgcolor="#D2A6C1">
<script language="php">include("$Home_Path/$Inc_Dir/sitelogo.php");</script>
</td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td colspan="3" bgcolor="#A35285" width="100%" height="10">
<img src="<?php echo "$urldir/imgs/spacer.gif"; ?>" alt="-" border="0" width="1" height="10"></td>
</tr>
<tr>
<td width="175" height="20" align="center" bgcolor="#D2A6C1">&nbsp;</td>
<td width="100%" height="20" align="center" bgcolor="#D2A6C1">
<script language="php">include("$Home_Path/$Inc_Dir/navbar_horizontal.php");</script>
</td>
<td width="175" height="20" align="right" bgcolor="#D2A6C1">
<script language="php">include("$Home_Path/$Inc_Dir/viewcart.php");</script>&nbsp;&nbsp;
</td>
</tr>
<tr>
<td valign="top" align="center" width="175" bgcolor="#D2A6C1">
<script language="php">include("$Home_Path/$Inc_Dir/search_site.php");</script>
<script language="php">include("$Home_Path/$Inc_Dir/pagelist_table.php");</script>
</td>
<td valign="top" align="left" style="padding: 10" width="100%">
<script language="php">include("$Home_Path/$Inc_Dir/sitemessage.php");</script>
<script language="php">include("$Home_Path/$Inc_Dir/title.php");</script>
<p><script language="php">include("$Home_Path/$Inc_Dir/navbar_list.php");</script></p>
<script language="php">include("$Home_Path/$Inc_Dir/description.php");</script>
<script language="php">include("$Home_Path/$Inc_Dir/content.php");</script>
</td>
<td valign="top" align="center" style="padding: 10" width="175">
<table border="0" cellpadding="5" cellspacing="0" width="100%" bgcolor="#EEDFEA" style="border: 2 dotted #007169; padding: 5">
<tr>
<td width="100%" align="center">
<span class="featurecolor">Featured Items</span>
<script language="php">include("$Home_Path/$Inc_Dir/featured.php");</script>
</td>
</tr>
</table>
<script language="php">include("$Home_Path/$Inc_Dir/price.php");</script>
<script language="php">include("$Home_Path/$Inc_Dir/catnum.php");</script>
</td>
</tr>
<tr>
<td height="10" valign="top" align="center" width="175" bgcolor="#D2A6C1">
<img src="<?php echo "$urldir/imgs/spacer.gif"; ?>" alt="-" border="0" width="175" height="1">
</td>
<td height="10" valign="top" align="center" width="100%">
<script language="php">include("$Home_Path/$Inc_Dir/email.php");</script>
<br><script language="php">include("$Home_Path/$Inc_Dir/copyright.php");</script>
</td>
<td height="10" valign="top" align="center" width="175">
<img src="<?php echo "$urldir/imgs/spacer.gif"; ?>" alt="-" border="0" width="175" height="1">
</td>
</tr>
</table>

</body>

</html>
